


<link rel="stylesheet" href="/stylesheet/admin.css">
<div align="center">
    <h1>Admin Login</h1>

    <% if (typeof message !== 'undefined') { %>
        <h3><%= message %></h3>
    <% } %>

    <form action="" method="POST">
        <input type="email" name="email" placeholder="Enter Email" required>
        <br>
        <input type="password" name="password" placeholder="Enter Password" required>
        <br>
        <input type="submit" value="Login">
    </form>

   
</div>


