</body>

<footer class="footer" style="background-color: #333; color: #fff; padding: 20px;">
    <div class="container">
        <p>&copy; 2024 Glow Spot  All rights reserved.</p>
    </div>
</footer>




<!-- Plugins JS File -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/jquery.hoverIntent.min.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>
<script src="/assets/js/superfish.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/bootstrap-input-spinner.js"></script>
<script src="/assets/js/jquery.elevateZoom.min.js"></script>
<script src="/assets/js/bootstrap-input-spinner.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Main JS File -->
<script src="/assets/js/main.js"></script>
</body>
</html>