<main class="main">
  
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        
    </nav><!-- End .breadcrumb-nav -->
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <style>
    body {
            font-family: 'Times New Roman', Times, serif;
        }
        .sidebar {
            background-color: #f8f9fa;
            border-right: 1px solid #dee2e6;
            position: fixed;
            top: 0;
            left: 0;
            width: 250px;
            height: 60%; /* Full height sidebar */
            overflow-y: auto;
            z-index: 100; /* Ensure it's above content */
            transition: all 0.3s;
            margin-top: 100px;
        }
        .nav-link {
            color: #333;
            padding: 10px 20px;
            border-left: 3px solid transparent;
            transition: all 0.3s ease;
            font-size: 15px;
            font-family: 'Times New Roman', Times, serif; 
        }
        .nav-link.active {
            font-weight: bold;
          
            color: #fff;
            border-left-color: #007bff;
        }
        .nav-link:hover {
            text-decoration: none;
            background-color: #e9ecef;
            font-weight: bold;
        }
        .content {
            margin-left: 250px;
            padding: 20px;
            
        }

        /* Media Query for Responsive Design */
        @media (max-width: 768px) {
            .sidebar {
                width: 100%; /* Full width on smaller screens */
                height: auto; /* Auto height to fit content */
                position: relative; /* Return to normal flow */
                border-right: none;
            }
            .content {
                margin-left: 0; /* No margin on smaller screens */
            }
        }
   </style>
</head>
<body>
<div class="sidebar">
    <ul class="nav flex-column">
        <br><br><br><br><br>
        <li class="nav-item">
            <a class="nav-link" href="/userProfile">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/order">Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/address">Address</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/wallet">Wallet</a>
        </li>
    </ul>
</div>